<div class="frequent">
    <h2>Frequently Used</h2>
    <div class="frequent_contents">
      <div class="frequent_items">
        <p class="frequent_items_heading">View Funds</p>
        <p class="frequent_items_details">
          You have used this Service 20 times in the last one week
        </p>
        <a href="#" class="frequent_items_link">Action CTA >></a>
      </div>
      <div class="frequent_items">
        <p class="frequent_items_heading">Manage Users</p>
        <p class="frequent_items_details">
          You have used this Service 20 times in the last one week
        </p>
        <a href="#" class="frequent_items_link">Action CTA >></a>
      </div>
      <div class="frequent_items">
        <p class="frequent_items_heading">View orders</p>
        <p class="frequent_items_details">
          You have used this Service 20 times in the last one week
        </p>
        <a href="#" class="frequent_items_link">Action CTA >></a>
      </div>
    </div>
  </div>
