<!-- Filter Section -->
<div class="filter">
  <div class="filter_left">
    <select [(ngModel)]="selectedOption" (change)="onStateChange()">
      <option value="">All Branches</option>
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
  </div>

  <div class="filter_right">
    <select>
      <option value="">Custom Range</option>
    </select>

    <input type="date" />
  </div>
</div>

<!-- Charts -->
<div class="e_sign">
  <div class="sgin">
    <h2>E-sign Count</h2>
    <div class="chart-container">
      <canvas
        baseChart
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDatasets"
        [options]="doughnutChartOptions"
        [legend]="true"
        [type]="'doughnut'"
      >
      </canvas>
    </div>
  </div>
  <div class="count">
    <h2>E-stamp Count</h2>
    <div class="chart-container">
      <canvas
        baseChart
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDatasets"
        [options]="doughnutChartOptions"
        [legend]="true"
        [type]="'doughnut'"
      >
      </canvas>
    </div>
  </div>
</div>
