<app-navbar></app-navbar>

<div class="main_body">
 
  <app-sidebar></app-sidebar>

  <div class="content">
   
    <app-frequent-items></app-frequent-items>

    
    <!-- Filter Section -->
    <div class="filter">
      <div class="filter_left">
        <select>
          <option value="">All Branches</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
        </select>
      </div>

      <div class="filter_right">
        <select>
          <option value="">Custom Range</option>
        </select>

        <input type="date" />
      </div>
    </div>

    <app-order-details></app-order-details>

    <app-e-sign></app-e-sign>
  </div>
</div>


<app-footer></app-footer>
