<div class="order">
    
    <div class="order_heading">      
      <h2>Order Details</h2>
      <p>View All</p>
    </div>

    <div class="order_details_continer">
      <div>
        <p class="order_details_heading">18 <span class="material-symbols-outlined">box</span></p>
        <p>Total orders</p>
        <p><span class="material-symbols-outlined trending_up">trending_up</span> <span>+2.4%</span> </p>
      </div>
      <div>
        <p class="order_details_heading">10 <span class="material-symbols-outlined">schedule</span></p>
        <p>In Progress</p>
        <p><span class="material-symbols-outlined trending_up">trending_up</span> <span>+2.4%</span> </p>
      </div>
      <div>
        <p class="order_details_heading">15 <span class="material-symbols-outlined">box</span></p>
        <p>Completetd Orders</p>
        <p><span class="material-symbols-outlined trending_up">trending_up</span> <span>+2.4%</span> </p>
      </div>
      <div>
        <p class="order_details_heading">3 <span class="material-symbols-outlined">cancel</span></p>
        <p>Cancelled Orders</p>
        <p><span class="material-symbols-outlined trending_up">trending_up</span> <span>+2.4%</span> </p>
      </div>
    </div>

</div>
